<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >

    <listeners>
        <listener class-name="com.saucelabs.yy.Tests.TestListener"/>
    </listeners>

    <test name="Selenium">
        <packages>
            <package name="com.saucelabs.yy.Tests.Selenium"></package>
        </packages>
    </test>
</suite>
