name: Appium BDD My Demo App RDC Tests

on:
  workflow_dispatch:
  schedule:
    - cron: '45 * * * *'
  push:
    paths:
      - 'src/test/resources/Appium/**'
      - 'src/test/java/com/saucelabs/yy/cucumber/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 18
        uses: actions/setup-java@v3
        with:
          java-version: '18'
          distribution: 'temurin'
      - name: Build with Maven
        run: mvn clean install compile test -Dsurefire.suiteXmlFiles=./src/test/resources/Appium/BDD.xml -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B -V
        env:
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
          BUILD_TAG: MyDemoApp-BDD-RDC-1.${{ github.run_number }}
