name: Selenium Web Simple Smoke Tests

on:
  workflow_dispatch:
  schedule:
    - cron: '10 * * * *'
  push:
    paths:
      - 'src/test/java/com/saucelabs/yy/Tests/Selenium/**'
      - 'src/test/java/com/saucelabs/yy/Tests/SuperTestBase.java'
      - 'src/test/java/com/saucelabs/yy/Utility/**'
      - 'src/test/resources/Selenium/Selenium_Web_Simple_Smoke_Tests.xml'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build with Maven
        run: mvn clean install compile test -Dsurefire.suiteXmlFiles=./src/test/resources/Selenium/Selenium_Web_Simple_Smoke_Tests.xml -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B -V
        env:
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
          BUILD_TAG: Smoke-Tests-1.${{ github.run_number }}
          TAGS: Smoke,Desktop_Web,Simple_Tests
      - name: Publish Test Report
        if: ${{ always() }}
        uses: scacap/action-surefire-report@v1
