name: Selenium Web Integration Tests

on:
  workflow_dispatch:
  schedule:
    - cron: '30 */2 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 18
        uses: actions/setup-java@v2
        with:
          java-version: '18'
          distribution: 'temurin'
      - name: Build with Maven
        run: mvn clean install compile test -Dsurefire.suiteXmlFiles=./src/test/resources/Selenium/Selenium_Web_Integration_Tests.xml -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -B -V
        env:
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
          BUILD_TAG: Integration-Tests-1.${{ github.run_number }}
          TAGS: Integration,Desktop_Web
      - name: Publish Test Report
        if: ${{ always() }}
        uses: scacap/action-surefire-report@v1
